<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
 <div *ngFor='let quote of quotes,let i = index'>
   <ul>
     <li>
       <p >Author : {{quote.description}}</p>
       <p> Date : {{quote.date | date}}</p>
       <p>{{quote.name}}</p> <br>

     <div class="vote">
       <button class="btn-primary"(click)="upVote()" name="button">Like {{addVote}}</button>
       <button class = "btn-primary"(click)="downVote()"
      name="button">UnLike {{reduceVote}}</button>
     </div>
     <br>
     <button class="btn-danger" (delete) = 'quoteDelete(true)'> Delete Quote </button></li>
   </ul>

  </div>
  </body>
</html>
